<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta content="width=device-width, initial-scale=1" name="viewport" />-->
<!--<meta content="width=1000, initial-scale=1, maximum-scale=10, minimum-scale=0.01" name="viewport" />-->
<title>WestTel PSAP Reports</title>
<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

{{!-- includes jQuery --}}
<script type="text/javascript" src="/js/common.min.js"></script>

<!--[if gte IE 8]><!-->
<script src="/static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui-1.11.4.custom/jquery-ui.min.css" />
<!--<![endif]-->
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/westtel.css" />
</head>
<body>
	<div id="wrapper">
	<!-- was <header> (now <div> because of IE6-8) -->
	<div id="header" class="header-top">
		<div class="header-top-wrap"> 
		    <div class="logo-container">
			{{! TODO: serve image from westtel.com/some central place when they get https working }}
			<img width="300" height="100" alt="WestTel International" src="/static/WestTel-Logo-300x100.png" />
		    </div> 
		    <!-- was <nav> -->
		    <div class="nav-menu-header">
		       <button id="icon-menu" class="icon-menu" type="button"></button>
		       <div class="menu-header-wrap">
			    <ul id="menu-header">
				<li class="first-item">
				    <a href="http://westtel.com/">
					<span>Home</span>
				    </a>
				</li>
				<li class="">
				    <a href="http://westtel.com/about-westtel">
					<span>About WestTel</span>
				    </a>
				</li>
				<li class="">
				    <a href="http://westtel.com/contact">
					<span>Contact</span>
				    </a>
				</li>
				<li class="">
				    <a href="/">
					<span>Reporting & Metrics</span>
				    </a>
				</li>{{#if user}}
				<li class="">
					<a href="/logout">
						<span>Logout</span>
					</a>
				</li>{{/if}}
			    </ul>
			</div>
		    </div>
		</div>
	</div>
	<div id="main-content" class="conten-main-e">
		<div id="bar-under-header"></div>
		<div id="main-div-box">
			{{{body}}}
			<div id="main-push"></div>
		</div>
	</div>
	</div>
    <!-- was <footer> -->
    <div id="main-footer" class="footer-page">
	<div class="footer-page-wrap">
	    <span class="copyright">&copy; Copyright 2016 - WestTel International | All Rights Reserved | 303-695-5000</span>
	</div>
    </div>
</body>
</html>
