<link rel="stylesheet" href="/static/css/change_password.css" />

<h1>Change Password</h1>

<table class="main_table"><tr><td>
<form method="post">
	<input type="hidden" name="_csrf" value="{{csrfToken}}" />
	<div class="h2_username">{{user.disp_name}}</div>
	<div class="main_div">
		<div class="error_message">{{error}}</div>
		<div class="normal_message">{{message}}</div>
		<div class="input_title"><label for="input_oldpw">Old Password</label></div>
		<div><input id="input_oldpw" class="text_input password_field" type="password" name="old" autofocus autocomplete="off" /></div>
		<div class="input_title"><label for="input_newpw">New Password</label></div>
		<div><input id="input_newpw" class="text_input password_field" type="password" name="new" autocomplete="off" /></div>
		<div class="input_title"><label for="input_newapw">Retype New Password</label></div>
		<div><input id="input_newapw" class="text_input password_field" type="password" name="new_again" autocomplete="off" /></div>
		<div id="show_password_line" class="display_none"><input id="show_password" type="checkbox"><label for="show_password">Show All Passwords</label></div>
		<div class="pw_set_div"><button class="password_set_button" type="submit">Set New Password</button></div>
	</div>
</form>
</tr></td></table>

<script type="text/javascript" src="/js/change_password.min.js"></script>
