<link rel="stylesheet" href="/static/css/change_password.css" />

<h1>My Account</h1>

<table class="main_table"><tr><td>
<form method="post">
	<input type="hidden" name="_csrf" value="{{csrfToken}}" />
	<div class="h2_username">{{user.disp_name}}</div>
	<div class="main_div">
		<div class="normal_message">{{message}}</div>
		<div class="single_line_div">USERNAME: {{user.username}}</div>
		<div class="single_line_div"><a href="/change_password">Change Password</a></div>
		<div class="input_title">Display Name</div>
		<div><input class="text_input" type="text" name="disp_name" value="{{user.disp_name}}" /></div>
		<div class="input_title">Time Zone<span id="tz_guess"></span></div>
		<div id="selected_current" class="single_line_div"></div>
		<div class="single_line_div"><select id="tz_select" name="tz" class="input_select">
			{{#each tz}}
			<option {{#if selected}}selected {{/if}}value="{{val}}">{{val}}</option>
			{{/each}}
		</select></div>
		<div class="pw_set_div"><button class="password_set_button" type="submit">Save Changes</button></div>
	</div>
</form>
</td></tr></table>

<script type="text/javascript" src="/js/main.min.js"></script>
