<link rel="stylesheet" href="/static/css/login.css" />

<h1>Customer Portal</h1>
<div class="main_div">

<table class="main_table"><tr><td>
<form method="post">
	<input type="hidden" name="_csrf" value="{{csrfToken}}" />
	<table class="inner_table">
		{{#if error_message}}<tr><td><div class="error_message">{{error_message}}</div></td></tr>
		{{else}}<tr class="height_0"><td><div class="error_message_empty_div"></div></td></tr>{{/if}}
		<tr>
			<td class="text_title">USERNAME</td></tr><tr><td><input class="text_input" type="text" name="uname" autofocus /></td>
		</tr>
		<tr><td class="height_0"></td></tr>
		<tr>
			<td class="text_title">PASSWORD</td></tr><tr><td><input id="input_password" class="text_input" type="password" name="passwd" autocomplete="off" /></td>
		</tr>
		<tr id="show_row" class="display_none">
			<td><input id="show_password" type="checkbox" /><label class="show_password_label" for="show_password">Show Password</label></td>
		<tr><td>
			<button id="login_button" type="submit">Login</button>
		</td></tr>
	</table>
</form>
</table>

</div>

<script type="text/javascript" src="/js/login.min.js"></script>
