<form method="post">
	<input type="hidden" name="_csrf" value="{{csrfToken}}" />
	{{message}}<br/>
	Username: <select name="uname">
		{{#each users}}<option val="{{username}}">{{username}}</option>{{/each}}
	</select><br />
	Set New Password?: <input type="password" name="password" /><br />
	Set Force Password Change? <input type="checkbox" name="force" /><br />
	Superadmin Password: <input type="password" name="super" /><br />
	<button type="submit">Submit</button>
</form>
