.main_table {
	margin:20px auto;
	background-color:#003769;
	color:white;
}
.main_table a{color:white;}

.single_line_div {
	margin-top:5px;
	margin-bottom:5px;
}

.main_div {
	padding:10px 30px 10px 30px;
}

.input_title {
	text-transform:uppercase;
	font-size:15px;
	margin-top:4px;
	margin-bottom:4px;
}

.text_input {
	font-size:25px;
	min-width:350px;
	width:100%;
	_width:350px;
	margin-bottom:5px;
}

.pw_set_div {
	overflow:hidden;
}
.password_set_button {
	float:right;
	margin-top:30px;
	margin-bottom:10px;
	font-size:25px;
}

#show_password_line {
	margin-top:15px;
}

.error_message {
	color:red;
	font-size:22px;
}
.normal_message{font-size:22px}
.h2_username{
	background-color:rgb(204,139,22);
	color:black;
	padding:10px 30px 10px 30px;
	font-size:26px;
	text-align:center;
}

.input_select {
	width:100%;
	font-size:25px;
}
