#login_button {
	float:right;
	margin-top:30px;
	font-size:25px;
}

.main_div {
	background-color:#003769;
	color:white;
	margin:0 auto;
	width:375px;
	padding:0 20px 10px 20px;
}

.main_table {
	margin: 20px auto 0;
	font-size: 25px;
}

.inner_table {
	border-collapse:separate;
	border-spacing:5px 5px;
}

.error_message {
	font-size:22px;
	color:red;
	white-space:pre;
}

.error_message_empty_div {
	width:300px;
}

.height_0{height:0}

.text_title {
	font-size:15px;
	color:#FFF
}

.text_input{width:350px}

.display_none{display:none}

.show_password_label{font-size:15px}

