body{
	font-family:HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin:0;
}

/*html, body {height:100%}
#wrapper{min-height:100%;margin:0 auto -42px}*/

header, footer, nav {display:block}
.footer-page, .push {height:42px}

table, tbody, thead, tfoot, tr, td {padding:0}
table {border-spacing:0}

table.graph {
	border:2px solid black;
	border-collapse:collapse;
	text-align:center;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	margin-top:10px;
}

table.graph td {
	border:2px solid black;
	white-space:pre;
	padding:5px;
	vertical-align:top;
}

table.graph tr { border:2px solid black }

tr.footer {background-color:rgb(0,55,105);color:white}
tr.true_footer {background-color:rgb(68,114,196);color:white}

.greenbar_even{ background-color:rgb(217,226,243); }
.greenbar_odd { background-color:rgb(255,255,255); }

@media print {
	/* because print (tends to) ignore background-color,
	 * we need to make the text black so that it's readable.
	 * We also change background-color in case it listens */
	tr.footer {background-color:white;color:black}
	tr.true_footer {background-color:white;color:black}

	#header {display:none}
	.conten-main-e{padding-top:0}
	.footer-page{background:white}
	.footer-page .footer-page-wrap{color:black}
}

#mainGraph {
	/*width:800px;*/
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	margin-top:25px;
	outline:6px solid rgb(203,221,230);
	padding:8px;
}

h1, h2, h3 {
	text-align:center;
	margin: 10px 0;
	font-weight:normal;
}

h1 {
	font-size:41px;
	font-family: 'Droid Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
h2{font-size:26px;color:#666666}
h3{font-size:23px;padding-top:5px;color:#666666}

input {
	font-size:100%; /* IE6 and 7 don't support 'inherit' */
	font-family:inherit;
}
select{font-size:1em;font-family:inherit;}

span.pretendDisabled { color:#999; }
.pretendDisabled select { color:#999; }
.pretendDisabled select:focus { color:initial; }

.pretendDisabled .ui-selectmenu-button {color:#CCC}

@media print {
	#pageHeader { display:none; }
	#downloadCSV { display:none; }
	img.graph { width:5in; }
	h2,h3{color:black}
}

/* jQuery UI stuff */
.ui-widget {font-size:1em;font-family:inherit;}
.ui-selectmenu-button span.ui-selectmenu-text {padding:5px 20px 5px 5px;}
.ui-selectmenu-button {vertical-align:middle}
.ui-state-default {font-weight:normal}
.ui-datepicker table {font-size:1em}
.ui-state-focus, .ui-widget-content .ui-state-focus{font-weight:normal}
.ui-selectmenu-menu .ui-menu {max-height:9.5em}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {margin:0}

/* main layout stuff */
.header-top{
	position: fixed;
	background:#fff;
	width: 100%;
	z-index:1;
	/*z-index: 501;*/
	height: 143px;
}
.header-top .logo-container {float: left;}
.header-top .logo-container img{
	padding:0;
	display: block;
	width: auto;
	height: auto;
	max-height: 100%;
	image-rendering:auto;
	position: relative;
	z-index: 2;
	height : 100%\9; /*hack: fixes ie8 logo*/
	height: auto\9; /*hack: fixes ie8 squished logo*/
	-webkit-transition: opacity 0.4s ease-in-out;
	transition:opacity 0.4s ease-in-out;
}
.header-top .header-top-wrap{
	height: 143px;
	max-width: 1310px;
	clear: both;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
}
.header-top .nav-menu-header {
	clear: none;
	height: 100%;
	line-height: 30px;
	margin: 0;
	position: absolute;
	right: 0;
	z-index: 100;
}
.header-top .nav-menu-header .menu-header-wrap {
	float: left;
	position: relative;
	z-index: 3;
}
.header-top .nav-menu-header .menu-header-wrap ul{
	list-style: none outside;
	margin-top: 0;
	padding:0;
}

.header-top .nav-menu-header .menu-header-wrap ul li {
	float: left;
	position: relative;
	z-index: 20;
}
.header-top .nav-menu-header .menu-header-wrap ul li a{
	height: 143px;
	line-height: 143px;
	display: block;
	font-size: 13px;
	font-weight: 600;
	padding: 0 13px;
	text-decoration: none;
	color:#003669;
	border-bottom: 2px solid #fff;
	transition: background-color 0.4s ease-in-out 0s, color 0.4s ease-in-out 0s, border-color 0.8s ease-in-out 0s;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;    
}
.header-top .nav-menu-header .menu-header-wrap ul li a:hover{
	border-bottom: 2px solid #003669;
}
.icon-menu{
	display: none;
	width: 46px;
	height: 46px;
	background: url("/static/icon-menu.png") 0 0 transparent no-repeat;
	border:none;
	float: right;
	cursor: pointer;
	margin-top: 10px;
}
.icon-menu:hover{background-position: 0 -46px;}
.conten-main-e{
	padding-top:145px;
	/*min-height:500px;*/
}
.footer-page{
	width: 100%;
	background: #444444;
	clear: both;
}
.footer-page .footer-page-wrap{
	margin: 0 auto;
	padding: 15px 50px;
	position: relative;
	max-width: 1310px;
	font-size: 11px;
	color: #ffffff;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;

}
.menu-header-wrap {padding-right:50px}
.header-top {position:static;padding-bottom:2px}
.conten-main-e{
	padding-top:0;
	background-color:#F6F6F9;
}

#bar-under-header {
	height:1px;
	background-color:#000;
	color:#000;
	margin:-1000;
	padding:1000;
	border:0;
}

#main-div-box {
	margin:0 auto;
	max-width:1310px;
	background-color:white;
	padding: 40px 20px 20px;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	/*overflow-x:auto;*/
}

/*and (min-width: 320px)*/ 
@media only screen and (max-width: 920px) {
	.menu-header-wrap{padding-right:0}
	.header-top .logo-container img {
		display: block;
		height: auto !important;
		max-height: 80px;
		max-width: 100%;
		width: auto;
	}
	.footer-page .footer-page-wrap {
		float: none;
		margin: 0 auto;
		max-width: 85%;
		padding-left: 0;
		padding-right: 0;
		width: 85%;
	}
	.header-top .header-top-wrap{
		float: none;
		margin: 0 auto;
		max-width: 85%;
		padding-left: 0;
		padding-right: 0;
		width: 85%;
		height: 0;
	}
	.icon-menu{display:block;}
	.header-top .nav-menu-header .menu-header-wrap {
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		transition-delay: 0s;
		position: absolute;
		right: -600%;
		top: -600px;
	}
	.header-top .nav-menu-header{
		display: block; 
		width: 100%;
		background: #fff;
	}
	.header-top.show-menu .menu-header-wrap{
		background: #fff none repeat scroll 0 0;
		display: block;
		padding-top: 46px;
		right: 0;
		top: 0;
	}
	.header-top .menu-header-wrap{
		/* makes it so we don't get ridiculous horizontal scroll when
		 * the screen is small and the menu is not shown */
		display:none;
	}
	.header-top.show-menu .icon-menu{
		background-position: 0 -92px;
		position: absolute;
		right: 0;
		z-index: 200;
	}
        .header-top.show-menu .icon-menu:hover{
		background-position: 0 -138px;
        }
        .header-top .nav-menu-header .menu-header-wrap{
		float: none;
		margin: 0;
		width: 100%;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li {
		background: #fff;
		float: none;
		margin: 0 0 0 -9%;
		padding: 0;
		position: relative;
		width: 118%;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li a{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: 13px 28px;
		position: relative;
		text-decoration: none;
		width: 100%;  
		border-color: #e1e1e1;
		color: #666666;  
		height: auto;
		line-height:20px;
		font-weight: normal;
		font-size: 14px;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li.first-item{
		border-color: #e1e1e1;
		border-top-style: solid;
		border-top-width: 1px;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li a:hover{
		border-color: #e1e1e1;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		background-color: #003669;
		color: #ffffff;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li a:before{
		content: "\25BA";
		position: absolute;
		top: 13px;
		margin-left: -10px;
		font-family: 'Arial';
		font-size: 7px;
        }
        /*.conten-main-e{
            padding-top: 80px!important;
            max-width: 90%;
            padding: 80px 5% 5% !important;
        }*/
}


